BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;

// LVDS In
LOCATE	COMP "LVDS_IG_A_DATA[0]"	SITE "D1" ;
IOBUF	PORT "LVDS_IG_A_DATA[0]"	IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_IG_A_DATA[1]"	SITE "D2" ;
IOBUF	PORT "LVDS_IG_A_DATA[1]"	IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_IG_A_DATA[2]"	SITE "F1" ;
IOBUF	PORT "LVDS_IG_A_DATA[2]"	IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_IG_B_DATA[0]"	SITE "F3" ;
IOBUF	PORT "LVDS_IG_B_DATA[0]"	IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_IG_B_DATA[1]"	SITE "H2" ;
IOBUF	PORT "LVDS_IG_B_DATA[1]"	IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_IG_B_DATA[2]"	SITE "B1" ;
IOBUF	PORT "LVDS_IG_B_DATA[2]"	IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_IG_A_CLK"		SITE "H1" ;
IOBUF	PORT "LVDS_IG_A_CLK"		IO_TYPE=SSTL18D_II ;

// Panel control in
LOCATE	COMP "LVDS_IG_BKL_ON"		SITE "N14" ;
IOBUF	PORT "LVDS_IG_BKL_ON"		IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE	COMP "LVDS_IG_PANEL_PWR"	SITE "L14" ;
IOBUF	PORT "LVDS_IG_PANEL_PWR"	IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

// LVDS Out
LOCATE	COMP "LVDS_A_DATA[0]"		SITE "A8" ;
IOBUF	PORT "LVDS_A_DATA[0]"		IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_A_DATA[1]"		SITE "A9" ;
IOBUF	PORT "LVDS_A_DATA[1]"		IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_A_DATA[2]"		SITE "B10" ;
IOBUF	PORT "LVDS_A_DATA[2]"		IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_B_DATA[0]"		SITE "A2" ;
IOBUF	PORT "LVDS_B_DATA[0]"		IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_B_DATA[1]"		SITE "A1" ;
IOBUF	PORT "LVDS_B_DATA[1]"		IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_B_DATA[2]"		SITE "C5" ;
IOBUF	PORT "LVDS_B_DATA[2]"		IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_A_CLK"			SITE "A6" ;
IOBUF	PORT "LVDS_A_CLK"			IO_TYPE=SSTL18D_II ;
LOCATE	COMP "LVDS_B_CLK"			SITE "C8" ;
IOBUF	PORT "LVDS_B_CLK"			IO_TYPE=SSTL18D_II ;

// Panel control out
LOCATE	COMP "LCD_BKLT_EN"			SITE "P2" ;
IOBUF	PORT "LCD_BKLT_EN"			IO_TYPE=LVCMOS33 ;
LOCATE	COMP "LCD_PWR_EN"			SITE "N8" ;
IOBUF	PORT "LCD_PWR_EN"			IO_TYPE=LVCMOS33 ;
LOCATE	COMP "LCD_BKLT_PWM"			SITE "N2" ;
IOBUF	PORT "LCD_BKLT_PWM"			IO_TYPE=LVCMOS33 PULLMODE=NONE ;

// dGPU power enable and reset
LOCATE	COMP "P3V3GPU_EN"			SITE "M5" ;
IOBUF	PORT "P3V3GPU_EN"			IO_TYPE=LVCMOS33 ;
LOCATE	COMP "P1V5FB1V8GPU_R_EN"	SITE "P7" ;
IOBUF	PORT "P1V5FB1V8GPU_R_EN"	IO_TYPE=LVCMOS33 ;
LOCATE	COMP "P1V0GPU_EN"			SITE "M6" ;
IOBUF	PORT "P1V0GPU_EN"			IO_TYPE=LVCMOS33 ;
LOCATE	COMP "GPUVCORE_EN"			SITE "P6" ;
IOBUF	PORT "GPUVCORE_EN"			IO_TYPE=LVCMOS33 ;
LOCATE	COMP "EG_RESET_L"			SITE "P5" ;
IOBUF	PORT "EG_RESET_L"			IO_TYPE=LVCMOS33 ;

// DDC signals
LOCATE	COMP "LVDS_DDC_SEL_IG"		SITE "N4" ;
IOBUF	PORT "LVDS_DDC_SEL_IG"		IO_TYPE=LVCMOS33 ;
LOCATE	COMP "LVDS_DDC_SEL_EG"		SITE "P4" ;
IOBUF	PORT "LVDS_DDC_SEL_EG"		IO_TYPE=LVCMOS33 ;
